body {
  background: #0D0D0D;
  color:      #FCFCFC;

  font-family:        sans-serif;
}

a {
  color:              #95E40A;
}

a:visited {
  color:              #1AA000;
}


p a {
  font-weight:        bold;
}

p a:visited {
  font-weight:        bold;
}

pre, blockquote {
  margin-left:        16px;
  padding-left:       16px;

  border-left:        solid 2px #95E40A;

  color:              #95E40A;
}

blockquote {
  margin-right:       48px;
}

hr {
  height:             24px;
  max-width:          1059px;
  min-width:          50%;

  border:             none;

  background-image:   url("hr_vines.png");
  background-repeat:  repeat-x;
}

h1, h2, h3, h4 {
  text-align:         center;

  font-family:        "Press Start 2P", monospace;
  line-height:        150%;
}

h1 {
  margin-top:         0.75in;
  font-size:          32;
}

h1 a, h3 a {
  color:              #FCFCFC;
  text-decoration:    none;
}

h1 a:hover, h3 a:hover {
  text-decoration:    underline;
}

h1 a:visited {
  color:              #FCFCFC;
}

h3 {
  font-size:          8pt;
}

#wrapper {
  width:              1060px;
  margin:             auto;

  text-align:         center;
  vertical-align:     top;
}

#websignin {
  position:           absolute;
  right:              16px;
  top:                16px;
}

#websignin label, #websignin p {
  font-family:        "Press Start 2P", monospace;
  font-size:          8pt;
  color:              #95E40A;
}

#websignin input {
  background:         none;
  border:             2px solid #95E40A;
  color:              #95E40A;
}

#websignin button {
  padding:            2px 16px;

  background:         #95E40A;
  border:             none;
}

.navbutton {
  display:            inline-block;
  margin:             8px 32px;
}

.navbutton-label {
  display:            block;
  padding-top:        16px;

  font-family:        "Press Start 2P", monospace;
}

a.navbutton {
  color:              #FCFCFC;
  text-decoration:    none;
}

a.navbutton:hover {
  text-decoration:    underline;
}

.compose-form {
  padding-left:       16px;

  text-align:         left;
}

.compose-form label {
  display:            inline-block;
  padding-top:        8px;
  width:              160px;

  vertical-align:     top;

  font-size:          8pt;
  font-family:        "Press Start 2P", monospace;
}

.compose-form input {
  display:            inline-block;
  width:              500px;
}

.compose-form textarea {
  display:            block;
  margin:             16px;
  width:              100%;
}

.compose-form .helptext {
  display:            block;
  padding-left:       160px;

  font-size:          8pt;
}

.compose-form .errorlist {
  color:              red;
}

.col {
  display:            inline-block;
  width:              45%;

  vertical-align:     top;
}

.blue-box {
  padding:            16px;
  padding-top:        0;
  margin-bottom:      16px;

  text-align:         left;

  border:             4px solid #95E40A;
}

.reply-context, .preview {
  margin:             16px 32px 0;
  padding:            16px;

  text-align:         left;

  border:             4px solid #1AA000;
  font-family:        "Press Start 2P", monospace;
  font-size:          8pt;
}

a.article-head {
  color:              #FCFCFC;
  text-decoration:    none;
}

a.article-head:hover {
  text-decoration:    underline;
}

.modify-links {
  padding-left:       32px;

  text-align:         left;

  font-family:        "Press Start 2P", monospace;
  font-size:          8pt;
}

.note {
  padding:            16px;
  padding-top:        0;

  text-align:         left;
}

.note h4 {
  margin-top:         32px;
  margin-bottom:      0;  

  text-align:         left;
  font-size:          16pt;
}

.note-date {
  display:            inline-block;
  width:              360px;
  padding-top:        8px;

  vertical-align:     top;
}

a.note-date {
  color:              #FCFCFC;
  text-decoration:    none;
}

a.note-date:hover {
  text-decoration:    underline;
}

.note-content {
  display:            inline-block;
  width:              600px;
  padding-left:       16px;

  vertical-align:     top;
}

.readmore-link {
  font-family:        "Press Start 2P", monospace;
}

.posse-link {
  padding-left:       32px;

  text-align:         left;

  font-family:        "Press Start 2P", monospace;
  font-size:          8pt;
}

.taglist {
  padding-left:       32px;

  text-align:         left;

  font-family:        "Press Start 2P", monospace;
  font-size:          8pt;
}

.response-header {
  text-align:         left;
}

.response {
  margin-bottom:      8px;

  text-align:         left;
}

.comment {
  font-size:          12pt;
}

.comment-content {
  margin-left:        16px;
  padding-left:       16px;
  border-left:        2px solid #FCFCFC;

  font-size:          8pt;
}

.like, .repost, .mention {
  font-size:          8pt;
  font-style:         italic;
}

.contact-box {
  display:            inline-block;
  margin:             32px;

  vertical-align:     middle;
  float:              left;
}

img.p-picture {
  float:              left;
}

.nametag {
  font-family:        "Press Start 2P", monospace;
}

.social-box {
  display:            inline-block;

  float:              right;
}

.social-logo {
  display:            inline-block;
  padding:            32px;
}