{% extends "grmbl/default.html" %}

{% block content %}
  <div class="h-entry">
  <div class="post detail">
    {% if post.article %}<div class="title p-name">{{ post.article.title }}</div>{% endif %}
    <div class="meta date">
      {% if post.get_previous %}<a href="/posts/{{ post.get_previous.pk }}">Previous</a> - {% endif %}
      Posted on <a class="dt-published u-url" href="/posts/{{ post.pk }}">{{ post.date_posted }}</a>
      {% if post.get_next %} - <a href="/posts/{{ post.get_next.pk }}">Next</a>{% endif %}
    </div>  
    <div class="body">
      {% if post.note.reply %}<div class="meta context">In reply to <a rel="in-reply-to" href="{{ post.note.reply.reply_url }}">{{ post.note.reply.reply_url|truncatechars:60 }}</a></div>
      {% if reply_context %}<div class="ex-context">
        {% if reply_context.avatar %}<img class="context-avatar" src="{{ reply_context.avatar }}">{% endif %}
        <span class="context-title">{{ reply_context.title }}</span>
        <span class="context-author">{{ reply_context.author }}</span>
        <div class="context-content">
          {{ reply_context.content|safe }}
        </div>
      </div>{% endif %}{% endif %}
      {% if post.article %}{{ post.article.content|safe }}{% elif post.note %}{{ post.note.raw_content|safe }}{% endif %}
    </div>
    <div class="discovery">
      <div class="syndication">
        {% if post.posse_data.twitter %}<div class="meta twitter"><a class="u-syndication" rel="syndication" href="{{ post.posse_data.twitter }}">View on Twitter</a></div>{% endif %}
      </div>
      <div class="meta tags">Tags: {% for tag in tags %}<a class="p-category" href="/posts?tag={{ tag }}">#{{ tag }}</a> {% endfor %}</div>
    </div>
    <div class="interaction">
      <!-- in the future there will be more stuff, like comment count, etc. -->
    </div>
  </div>
{% endblock %}

{% block posthcard %}
</div>
{% endblock %}