{% extends "grmbl/default.html" %}
{% load staticfiles %}

{% block content %}
  <div class="h-entry">
  <div class="post detail">
    {% if post.article %}<div class="title p-name">{{ post.article.title }}</div>{% endif %}
    {% if user.is_staff %}<div class="meta mod-links"><a href="/compose?post_id={{ post.id }}">Edit / Delete Post</a></div>{% endif %}
    <div class="meta date">
      {% if post.get_previous %}<a href="/posts/{{ post.get_previous.pk }}">Previous</a> - {% endif %}
      Posted on <a class="dt-published u-url" href="/posts/{{ post.pk }}">{{ post.date_posted }}</a>
      {% if post.get_next %} - <a href="/posts/{{ post.get_next.pk }}">Next</a>{% endif %}
    </div>  
    <div class="body">
      {% if post.note.reply %}<div class="meta context">In reply to <a rel="in-reply-to" href="{{ post.note.reply.reply_url }}">{{ post.note.reply.reply_url|truncatechars:60 }}</a></div>
      {% if reply_context %}<div class="ex-context">
        {% if reply_context.avatar %}<img class="context-avatar" src="{{ reply_context.avatar }}">{% endif %}
        <span class="context-title"><a href="{{ post.note.reply.reply_url }}">{{ reply_context.title|truncatechars_html:100 }}</a></span>
        <span class="context-author">{{ reply_context.author }}</span>
        <div class="context-content">
          {{ reply_context.content|safe|truncatewords_html:200 }}
        </div>
      </div>{% endif %}{% endif %}
      {% if post.article %}{{ post.article.content|safe }}{% elif post.note %}{{ post.note.raw_content|safe }}{% endif %}
    </div>
    <div class="discovery">
      <div class="syndication">
        {% if post.posse_data.twitter %}<div class="meta twitter"><a class="u-syndication" rel="syndication" href="{{ post.posse_data.twitter }}">View on Twitter</a></div>{% endif %}
      </div>
      <div class="meta tags">Tags: {% for tag in tags %}<a class="p-category" href="/posts?tag={{ tag }}">#{{ tag }}</a> {% endfor %}</div>
    </div>
    <div class="interaction">
      <div class="actions">
        {% if post.posse_data.twitter %}<span class="meta like"><indie-action do="like" with="http://lancey.space/posts/{{ post.pk }}">
          <a href="https://twitter.com/intent/favorite?tweet_id={{ post.posse_data.get_tweet_id }}"><i class="fa fa-heart fa-fw"></i> Like</a> ({{ post.get_likes.count }})
        </indie-action></span>
        <span class="meta repost"><indie-action do="repost" with="http://lancey.space/posts/{{ post.pk }}">
          <a href="https://twitter.com/intent/retweet?tweet_id={{ post.posse_data.get_tweet_id }}"><i class="fa fa-refresh fa-fw"></i> Repost</a> ({{ post.get_reposts.count }})
        </indie-action></span>
        <span class="meta like"><indie-action do="reply" with="http://lancey.space/posts/{{ post.pk }}">
          <a href="https://twitter.com/intent/tweet?in_reply_to={{ post.posse_data.get_tweet_id }}"><i class="fa fa-reply fa-fw"></i> Reply</a> ({{ post.get_comments.count }})
        </indie-action></span>{% endif %}
      </div>

      <div class="activities">{% for act in post.activity_set.objects.all %}
        {% if act.like %}<div class="act like"><img class="avatar" src="{{ act.like.avatar }}"> liked this</div>
        {% elif act.repost %}<div class="act repost"><img class="avatar" src="{{ act.repost.avatar }}"> reposted this</div>
        {% elif act.comment %}<div class="act comment"><img class="avatar" src="{{ act.comment.avatar }}"> <div class="body">
          <a class="site" href="{{ act.comment.site_url }}">{{ act.comment.site }}</a> <span class="author">{{ act.comment.author }}</span>
          <div class="content">{{ act.comment.content }}</div>
          <a href="{{ act.source }}" class="date">{{ act.comment.date_posted }}</a>
        </div></div>
        {% elif act.mention %}<div class="act mention"><img class="avatar" src="{{ act.mention.avatar }}"> <div class="body">
          <a class="site" href="{{ act.mention.site_url }}">{{ act.mention.site }}</a> <span class="author">{{ act.mention.author }}</span>
          <div class="content"><a href="{{ act.source }}">{{ act.mention.title }}</a></div>
          <a href="{{ act.source }}" class="date">{{ act.mention.date_posted }}</a>
        </div></div>{% endif %}
      {% endfor %}</div>
    </div>
  </div>
{% endblock %}

{% block posthcard %}
</div>
{% endblock %}